:host {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background: #302E2C;
  margin: 10px;
  width: calc((100% - (20px * 8)) / 8);

  .poster {
    img {
      width: 100%
    }
  }

  .title {
    padding: 20px;
  }
}
